* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}
body {
	position: relative;
	overflow: hidden;
	background-color: var(--bg-color);
    background-image: url(/img/img5.jpg);
        height: 100vh;
        // display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
}
html {
	position: relative;
	overflow: hidden;
	background-color: var(--bg-color);
}
main {
	position: relative;
	overflow: hidden;
	background-color: var(--bg-color);
    background-image: url(/img/img5.jpg);
        height: 100vh;
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

}
a {
	color: unset;
}